
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0;
 font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
}

.app {
  padding: 20px;
}

.heading {
  text-align: center;
  margin-bottom: 30px;
  color: #222;
  font-size: 32px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Image Card Styling */
.image-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.image-card:hover {
  transform: scale(1.03);
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.image-content {
  padding: 15px;
}

.image-content h2 {
  font-size: 18px;
  margin: 0;
  color: #222;
}

.image-content p {
  font-size: 14px;
  margin-top: 8px;
  color: #555;
}

/* Responsive */
@media (max-width: 900px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
